<%- include('../include/header') %>

  <section class="w3l-products py-5" id="projects">
    <div class="container py-lg-3">
      <div class="header-section text-center mb-5">
        <h3>Painel Administrativo</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!--Horizontal Tab-->
          <div id="parentHorizontalTab">
            <div style="display: flex;align-items: center;justify-content: center;">
              <ul class="resp-tabs-list hor_1">
                <li style="width: auto;">Entrar</li>
                <!-- <li style="width: auto;">Registrar</li> -->
                <div class="clear"></div>
              </ul>
            </div>
            <div class="resp-tabs-container hor_1">
              <div class="products-content">
                <div class="row" style="justify-content: center;align-items: center;">
                  <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-0">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <div>
                        <% if (autenticado === false) { %>
                          <!-- Se 'autenticado' for igual a 'false', exiba uma mensagem de erro -->
                          <p>Você precisa estar autenticado para acessar esta página.</p>
                      <% } %>
                      </div>
                      <form method="POST" id="login" action="/secure/login">
                        <div class="post-content">
                          <h4 class="blog_post_title my-2">Login</h4><br>
                          <label for="login">Nome de Usuário:</label>
                          <input type="text" name="login" id="login" required><br>
                          <label for="senha">Senha:</label><br>
                          <input type="password" name="senha" id="senha" required><br>
                          <!-- <h6 class="sub-title">Mar 16, 2021</h6>
                          <img src="assets/images/img10.jpg" alt=" " class="img-fluid">
                          <ul class="author-date mb-3 d-flex align-items-center">
                            <li>by <b>Gwen Johnson</b></li>
                          </ul>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p> -->
                        </div>

                        <div class="read-button mt-5"><button type="submit">Entrar<span class="fa fa-long-arrow-right"
                              aria-hidden="true"></span></button></div>
                      </form>
                    </div>
                  </a>
                </div>
              </div>
              <div class="products-content">
                <div class="row">
                  <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-0">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <div class="post-content">
                        <h6 class="sub-title">Apr 18, 2020</h6>
                        <img src="assets/images/img4.jpg" alt=" " class="img-fluid">
                        <h4 class="blog_post_title my-2">Featured Blog Post</h4>
                        <ul class="author-date mb-3 d-flex align-items-center">
                          <li>by <b>Marko Dugonji</b></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                      </div>
                      <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right"
                          aria-hidden="true"></span></div>
                    </div>
                  </a>
                  <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-5">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <div class="post-content">
                        <h6 class="sub-title">May 11, 2020</h6>
                        <img src="assets/images/img5.jpg" alt=" " class="img-fluid">
                        <h4 class="blog_post_title my-2">Featured Blog Post</h4>
                        <ul class="author-date mb-3 d-flex align-items-center">
                          <li>by <b>Anthony</b></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                      </div>
                      <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right"
                          aria-hidden="true"></span></div>
                    </div>
                  </a>
                  <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-5">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <div class="post-content">
                        <h6 class="sub-title">Jun 24, 2020</h6>
                        <img src="assets/images/img6.jpg" alt=" " class="img-fluid">
                        <h4 class="blog_post_title my-2">Featured Blog Post</h4>
                        <ul class="author-date mb-3 d-flex align-items-center">
                          <li>by <b>Emma Stone</b></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                      </div>
                      <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right"
                          aria-hidden="true"></span></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <%- include('../include/footer') %>
    <script>
      const form = document.querySelector('#login');
      form.addEventListener('submit', function (event) {
        event.preventDefault(); // Evitar que o formulário seja submetido normalmente

        const formData = new FormData(event.target);
        // Converte o objeto em um objeto JavaScript
        const dataObjeto = {};
        formData.forEach((valor, chave) => {
          dataObjeto[chave] = valor;
        });

        // Converte o objeto JavaScript em uma string JSON
        const jsonData = JSON.stringify(dataObjeto);
        const url = form.action;
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: jsonData,
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (!data.token) {
              return;
            }
            localStorage.setItem('chave', data.token);
            window.location.href = '/app/dashboard';
          })
          .catch(error => {
            console.error('Erro:', error);
          });
      });
    </script>